<div class="footer-card">
  {% if product.available %}
    <div class="quantity-container">
      <div class="quantity">
        <quickshop-update-quantity class="previewCartItem-qty quickshop-quantity">
          <button type="button" name="minus" class="minus btn-quantity"></button>
          {% if product.metafields.disco.kit_products.value == blank %}
            <input
              class="qtd-input"
              name="quantity"
              value="{% if product.selected_or_first_available_variant.available %}1{% else %}0{% endif %}"
              type="number"
              data-multiply="1"
              data-variantId="{{ product.selected_or_first_available_variant.id }}"
              {% if product.selected_or_first_available_variant.available
                and product.selected_or_first_available_variant.inventory_quantity < 1
              %}
                data-inventory="9999"
              {% else %}
                data-inventory="{{ product.selected_or_first_available_variant.inventory_quantity }}"
              {% endif %}
            >
          {% else %}
            {% for product_meta in product.metafields.disco.kit_products.value %}
              <input
                class="qtd-input"
                {% unless forloop.first %}
                  style="display: none;"
                {% endunless %}
                name="quantity"
                value="{% if product_meta.variants[0].available %}1{% else %}0{% endif %}"
                type="number"
                data-multiply="{{ product.metafields.disco.unity | default: 1 }}"
                data-variantId="{{ product_meta.variants[0].id }}"
                {% if product_meta.variants[0].available and product_meta.variants[0].inventory_quantity < 1 %}
                  data-inventory="9999"
                {% else %}
                  data-inventory="{{ product_meta.variants[0].inventory_quantity }}"
                {% endif %}
                disabled
              >
            {% endfor %}
          {% endif %}
          <button type="button" name="plus" class="plus btn-quantity"></button>
        </quickshop-update-quantity>
      </div>
      <div class="price-item">
        <span class="price-item price-item--regular">{{ product.price | money }}</span>
      </div>
    </div>
    <div class="add-to-cart-container">
      <button class="btn btn-with-icon btn-primary buy-btn-card" add-to-cart-card>
        Adicionar {% render 'icon-adicionar' %}
      </button>
    </div>
  {% else %}
    <div class="notify-me-container" style="width: 100%;">
      <button
        class="btn stoq-notify-me-button"
        style="min-width: 165px; height: 37px; border-radius: 999px; background: #00b45a; display: flex; justify-content: center; align-items: center; padding: 2px 15px; color: #fff; border: none; position: relative;"
        data-product='{ "id": {{ product.id | json }}, "title": {{ product.title | json }}, "handle": {{ product.handle | json }}, "variants": {{ product.variants | json }}, "featured_image": {{ product.featured_image | json }}, "image": {{ product.featured_image | json }} }'
        data-variant-id="{{ product.selected_or_first_available_variant.id }}"
      >
        Avise-me
      </button>
    </div>
  {% endif %}
</div>
