<style>
  .section {
    background: var(--bgColor);
  }

  .image-grid-v2 {
    padding: 20px;    
  }

  .image-grid-v2 p {
    margin: 0;
  }

  .image-grid-v2 .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 16px
  }

  .image-grid-v2 .heading h3 {
    color: #545454;
    font-size: 25px;
    margin: 0;
    line-height: normal;
    font-weight: 500;
    font-family: var(--font-body-family);
    letter-spacing: -1px;
  }

  .image-grid-v2 .heading p {
    color: #545454;
    font-size: 16px;
  }

  .image-grid-slider-v2 .swiper-slide {
    width: fit-content;
    height: auto;
  }

  .image-grid-v2.max-container {
    max-width: 1536px;
    margin: 0 auto;
  }

  .image-grid-v2 .image-container .card {
    border-radius: 24px;
    position: relative;
  }
  
  .image-grid-v2 .image-container img {
    display: block;
    height: auto;
  }
  
  .image-grid-v2 .image-container img+img {
    display: none;
  }

  .image-container .image-placeholder {
    width: 100%;
    height: 100%;
  }

  .image-grid-v2 .card .info {
    position: absolute;
    bottom: 0;
    padding: 32px 16px;
    color: white;
  }

  .image-grid-v2 .card .info .description {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  .image-grid-v2 .card .info .title {
    font-size: 16px;
    font-weight: 600;
  }

  @media (min-width: 1024px) {
    .image-grid-v2 {
      padding: 60px 20px 20px;
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .image-grid-slider-v2 {
      grid-column: span 4 / span 4;
    }

    .image-grid-v2 .image-container {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .image-grid-slider-v2 .swiper-slide {
      width: 100%!important;
      margin-right: 0px!important;
    }

  }

  @media (max-width: 1024px) {
    .image-grid-v2 .image-container img {
      display: none;
    }
    
    .image-grid-v2 .image-container img+img {
      display: block;
      height: auto;
      width: 100%;
    }
    
    .image-grid-slider-v2 .swiper-slide {
      width: fit-content;
      height: auto;
    }
  }

  .image-grid-v2 .swiper-button-prev {
    bottom: 0px;
    top: auto;
    left: calc(50% - 50px);
    border: 2px solid #8355A7;
    padding: 18px 18px;
    border-radius: 9999px;
  }

  .image-grid-v2 .swiper-button-prev:after {
    font-size: 14px
  }

  .image-grid-v2 .swiper-button-next {
    bottom: 0px;
    top: auto;
    right: calc(50% - 50px);
    border: 2px solid #8355A7;
    padding: 18px 18px;
    border-radius: 9999px;
  }

  .image-grid-v2 .swiper-button-next:after {
    font-size: 14px
  }
</style>
<div class="section" style="--bgColor: {{ section.settings.color }}">
  {% if section.settings['borda-superior'] %}
    {% render 'borda-superior', cor: section.settings['color-borda-superior'], style: 'waves' %}
  {% endif %}
  <div class="image-grid-v2 max-container">
    {% if section.settings.title != blank %}
      <div class="heading">
        <h3>
          {{ section.settings.title }}
        </h3>
        {{ section.settings.description }}
      </div>
    {% endif %}
    <div class="swiper image-grid-slider-v2" style="--bgColor: {{ section.settings.color }}">
      <div class="swiper-wrapper image-container">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="card">
              {%- if block.settings.image != blank -%}
                {{  block.settings.image | image_url: width: block.settings.image.width| image_tag: loading: 'lazy' }}
              {%- endif -%}
              {%- if block.settings.mobile_image != blank -%}
                {{ block.settings.mobile_image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy'}}
              {%- endif -%}
              <div class="info">
                <div class="title">
                  {{ block.settings.title }}
                </div>
                <div class="description">{{ block.settings.description }}</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if section.settings['borda-inferior'] %}
    {% render 'borda-inferior', cor: section.settings['color-borda-inferior'] %}
  {% endif %}
</div>
{% schema %}
{
  "name": "Image Grid V2",
  "settings": [{
    "type": "checkbox",
    "id": "borda-superior",
    "default": true,
    "label": "Ativar divisória superior"
  },
  {
    "type": "color",
    "id": "color-borda-superior",
    "default": "#fff",
    "label": "Cor da divisória superior"
  },
  {
    "type": "checkbox",
    "id": "borda-inferior",
    "default": false,
    "label": "Ativar divisória inferior"
  },
  {
    "type": "color",
    "id": "color-borda-inferior",
    "default": "#fff",
    "label": "Cor da divisória inferior"
  },
  {
    "type": "color",
    "id": "color",
    "label": "Cor"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Titulo"
  },
  {
    "type": "richtext",
    "id": "description",
    "label": "Descrição"
  }],
  "blocks":[
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagem"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Imagem mobile"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Titulo"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Descrição"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Image Grid V2",
    "blocks": [
      {
        "type": "card"
      },
      {
        "type": "card"
      },
      {
        "type": "card"
      },
      {
        "type": "card"
      }
    ]
  }]
}
{% endschema %}
