<style>
  .section {
    background: var(--bgColor);
    position: relative;
  }

  .section-anchor {
    position: absolute;
    top: 0;
    display: flex;
  }

  .section-product-carousel +  .section-product-carousel .max-container {
    padding-top: 10px;
  }

  .product-carousel-v2-container.max-container {
    padding: 60px 0;
    margin: 0 auto;
  }

  .product-carousel-v2 {
    padding: 0 0 0 120px;
  }

  .product-carousel-v2-container h3 {
    font-size: 20px;
    font-weight: 400;
    color: #231F20;
    margin-bottom: 32px;
  }

  .product-carousel-v2-container .swiper-slide {
    max-width: 310px;
  }

  .product-carousel-v2-container h3 p {
    margin: 0;
  }

  .product-carousel-v2-container > p {
    margin-top: -25px; 
    text-align: center;   
    margin-bottom: 32px;
  }

  .product-carousel-v2-container .card {
    border-radius: 24px;
  }

  .product-carousel-v2-container .image-placeholder {
    width: 100%;
    height: 100%;
  }

  .product-carousel-v2-modal {
    display: none;
    position: fixed;
    inset: 0px;
    z-index: 200;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }

  .product-carousel-v2-modal .carousel-modal-content {
    margin: auto;
    height: 100vh;
    max-width: 640px;
    padding: 20px;
    position: relative;
  }

  .product-carousel-v2-modal .modal-close-button {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 44px;
    left: 44px;
    color: white;
    text-decoration: underline;
    font-size: 10px;
    cursor: pointer;
  }

  .product-carousel-v2-modal .modal-close-button svg {
    width: 18px;
    height: 18px;
    stroke-width: 4px;
  }

  .product-carousel-v2-modal.visible {
    display: flex;
  }

  .product-carousel-v2 .swiper-button-prev,
  .product-carousel-v2 .swiper-button-next {
    display: none;
  }

  @media (min-width: 768px){
    .product-carousel-v2-container h3 {
      font-size: 24px;
    }
  }

  @media (max-width: 1280px){
    .product-carousel-v2 {
      padding: 0 0 0 20px;
    }
  }
</style>

<script>
  function openModal(modalId) {
    if (modalId) {
      const modal = document.getElementById(modalId);
      modal.classList.add('visible');
    }
  }

  function closeModal(modalId) {
    if (modalId) {
      const modal = document.getElementById(modalId);
      modal.classList.remove('visible');
    }
  }
</script>

<div class="section" style="--bgColor: {{ section.settings.color }}">
  <span id="{{ section.settings.section_id }}" class="section-anchor"></span>
  {% if section.settings['borda-superior'] %}
    {% render 'borda-superior', cor: section.settings['color-borda-superior'], style: section.settings.border_style %}
  {% endif %}
  <div class="product-carousel-v2-container max-container" style="--bgColor: {{ section.settings.color }}">
    <h3 style="color: {{ section.settings.title_color }}">
      {{ section.settings.title }}
    </h3>

    {% if section.settings.subtitle != blank %}
      <p class="subtitle custom-font">
        {{ section.settings.subtitle | strip_html }}
      </p>
    {% endif %}

    <div class="swiper product-carousel-v2">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            {% render 'product-card-holymac', section: section, block: block %}
          </div>
        {% endfor %}
      </div>
      {% comment  %}  
      <div class="swiper-button-prev" style="--swiper-navigation-size: 20px; --swiper-navigation-color: {{ section.settings.navigation_color }}"></div>
      <div class="swiper-button-next" style="--swiper-navigation-size: 20px; --swiper-navigation-color: {{ section.settings.navigation_color }}"></div>
      {% endcomment %}
      <div class="swiper-pagination"></div>
    </div>
  </div>
  {% if section.settings['borda-inferior'] %}
    {% render 'borda-inferior', cor: section.settings['color-borda-inferior'] %}
  {% endif %}
</div>

{% for block in section.blocks %}
  <div id="modal-{{ block.settings.product.id }}" class="product-carousel-v2-modal">
    <div
      style="width: 100%; height: 100%;position: absolute;top: 0;display: block;"
      onclick="closeModal('modal-{{ block.settings.product.id }}')"
    ></div>
    {% assign product = block.settings.product %}
    {% for image in product.metafields.custom.m_ltiplas_tabelas.value %}
      <div class="carousel-modal-content">
        <div class="modal-close-button" onclick="closeModal('modal-{{ block.settings.product.id }}')">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.424"
            height="14.424"
            viewBox="0 0 14.424 14.424"
          >
            <path id="União_10" data-name="União 10" d="M6.152,6.152,0,12.3,6.152,6.152,0,0,6.152,6.152,12.3,0,6.152,6.152,12.3,12.3Z" transform="translate(1.061 1.061)" fill="rgba(0,0,0,0)" stroke="#ff7a50" stroke-linecap="round" stroke-width="3"/>
          </svg>
        </div>
        <img
          loading="lazy"
          width="100%"
          height="100%"
          src="{{ image | image_url: width: image.width }}"
        >
      </div>
    {% endfor %}
  </div>
{% endfor %}
{% schema %}
{
  "name": "Product Carousel V2",
  "class": "section-product-carousel",
  "settings": [
  {
    "type": "text",
    "id": "section_id",
    "label": "Section ID",
    "info": "Unique identifier for this section"
  },
  {
    "type": "select",
    "id": "border_style",
    "label": "Selecionar estilo do borda",
    "options": [
      {
        "value": "waves",
        "label": "Ondas"
      },
      {
        "value": "default",
        "label": "Padrão"
      }
    ],
    "default": "default"
  },
  {
    "type": "checkbox",
    "id": "borda-superior",
    "default": true,
    "label": "Ativar divisória superior"
  },
  {
    "type": "color",
    "id": "color-borda-superior",
    "default": "#fff",
    "label": "Cor da divisória superior"
  },
  {
    "type": "checkbox",
    "id": "borda-inferior",
    "default": false,
    "label": "Ativar divisória inferior"
  },
  {
    "type": "color",
    "id": "color-borda-inferior",
    "default": "#fff",
    "label": "Cor da divisória inferior"
  },
  {
    "type": "color",
    "id": "color",
    "label": "Cor"
  },
  {
    "type": "color",
    "id": "title_color", 
    "label": "Title Color",
    "default": "#231F20"
  },
  {
    "type": "color",
    "id": "custom_color",
    "label": "Custom Element Color"
  },
  {
    "type": "richtext",
    "id": "title",
    "label": "Titulo"
  },
  {
    "type": "richtext",
    "id": "subtitle",
    "label": "Subtítulo"
  }],
  "blocks":[
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Produto"
        },
        {
          "type": "checkbox",
          "id": "show_product_image",
          "label": "Usar imagem do produto",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagem"
        },
        {
          "type": "checkbox",
          "id": "show_product_title",
          "label": "Usar título do produto",
          "default": false
        },
        {
          "id": "title",
          "type": "text",
          "label": "Titulo"
        },
        {
          "id": "subtitle",
          "type": "text",
          "label": "Subtítulo"
        },
        {
          "type": "checkbox",
          "id": "show_product_description",
          "label": "Usar descrição do produto",
          "default": false
        },
        {
          "id": "description",
          "type": "richtext",
          "label": "Descrição"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Cor"
        },
        {
          "type": "color",
          "id": "card_color",
          "label": "Cor do card"
        },
        {
          "type": "text",
          "id": "porcoes",
          "label": "Porções",
          "default": "2"
        },
        {
          "type": "image_picker",
          "id": "stamp_image_1",
          "label": "Imagem do primeiro selo"
        },
        {
          "type": "text",
          "id": "stamp_text_1",
          "label": "Texto do primeiro selo"
        },
        {
          "type": "image_picker",
          "id": "stamp_image_2",
          "label": "Imagem do segundo selo"
        },
        {
          "type": "text",
          "id": "stamp_text_2",
          "label": "Texto do segundo selo"
        },
        {
          "type": "image_picker",
          "id": "stamp_image_3",
          "label": "Imagem do terceiro selo"
        },
        {
          "type": "text",
          "id": "stamp_text_3",
          "label": "Texto do terceiro selo"
        },
        {
          "type": "image_picker",
          "id": "modal_image",
          "label": "Imagem do modal"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Product Carousel V2",
    "blocks": [
      {
        "type": "product"
      },
      {
        "type": "product"
      },
      {
        "type": "product"
      }
    ]
  }]
}
{% endschema %}
